Repository s19013/sundlf-replace2: changes, and which lefthook commands are due for each by the changed paths.
All: pint-fix, phpstan, prettier-fix, eslint-fix, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # pint -> phpstan の順で動かす
    pint-fix:
      priority: 1
      stage_fixed: true
      glob: "*.php"
      run: ./.lefthook/pre-commit/pint-fix.sh {staged_files}

    phpstan:
      priority: 2
      glob: "*.php"
      run: ./.lefthook/pre-commit/phpstan.sh {staged_files}

    #  prettier -> eslint -> typecheckの順で動かす
    prettier-fix:
      priority: 1
      stage_fixed: true
      glob: "*.{ts,tsx,json,css,vue}"
      exclude: ".claude/*"
      run: ./.lefthook/pre-commit/prettier.sh {staged_files}

    eslint-fix:
      priority: 2
      stage_fixed: true
      glob: "*.{ts,tsx,vue}"
      run: ./.lefthook/pre-commit/eslint.sh {staged_files}

    typecheck:
      priority: 3
      stage_fixed: true
      glob: "*.{ts,tsx,vue}"
      exclude: ".claude/*"
      run: ./.lefthook/pre-commit/typecheck.sh {staged_files}

# pre-push:
# テスト系を実行

不必要な箇所を消した
  frontend/src/app/App.vue
Due: prettier-fix, eslint-fix, typecheck

loginviewの場所を変えた
  frontend/src/app/router/index.ts
  frontend/src/pages/auth/login/ui/LoginView.vue
Due: prettier-fix, eslint-fix, typecheck

デフォルトの余分な設定は削除
  frontend/src/app/styles/base.css
Due: prettier-fix

オリジナルの設定を追加
  frontend/src/app/styles/main.css
Due: prettier-fix

オリジナルのfooter作成
  frontend/src/app/App.vue
  frontend/src/shared/ui/index.ts
  frontend/src/shared/ui/originalFooter.vue
Due: prettier-fix, eslint-fix, typecheck

auth系のレイアウトを作成
  frontend/src/shared/layout/authLayout.vue
  frontend/src/shared/layout/index.ts
Due: prettier-fix, eslint-fix, typecheck

レイアウト適応
  frontend/src/pages/auth/login/ui/LoginView.vue
Due: prettier-fix, eslint-fix, typecheck

レスポンシブに関するルールを追加
  frontend/CLAUDE.md
Due: none

ロゴファイル
  frontend/public/sundlf_logo.png
Due: none

やっぱりLoginCredentialsのほうが適切だと思うのでもどす
  frontend/src/entities/auth/api/authApi.ts
  frontend/src/entities/auth/model/authStore.ts
  frontend/src/entities/auth/types/auth.ts
Due: prettier-fix, eslint-fix, typecheck

ApiErrorResponseを定義
  frontend/src/shared/types/index.ts
Due: prettier-fix, eslint-fix, typecheck

ログイン処理を別のファイルへ移動
  frontend/src/entities/auth/model/loginByCredentials.ts
  frontend/src/pages/auth/login/ui/LoginView.vue
Due: prettier-fix, eslint-fix, typecheck

なんかuiディレクトリにあるのが解せないので出す
  frontend/src/app/router/index.ts
  frontend/src/pages/auth/login/LoginView.vue
Due: prettier-fix, eslint-fix, typecheck

より堅実になるように修正
  frontend/src/entities/auth/model/loginByCredentials.ts
Due: prettier-fix, eslint-fix, typecheck

細かい修正
  frontend/src/pages/auth/login/LoginView.vue
Due: prettier-fix, eslint-fix, typecheck

pascalケースが良いらしい
  frontend/src/pages/auth/login/LoginView.vue
  frontend/src/shared/layout/index.ts
Due: prettier-fix, eslint-fix, typecheck

color-scheme: light dark; がないとlight-darkは有効にならない
  frontend/src/app/styles/main.css
Due: prettier-fix

dvhを使えばスマホとかでもより安定したレイアウトになるらしい。 ステータスバーのあるなしとか
  frontend/src/app/styles/main.css
Due: prettier-fix

:src にする必要性を感じない
  frontend/src/shared/layout/authLayout.vue
Due: prettier-fix, eslint-fix, typecheck

pascalケースが良いらしい
  frontend/src/app/App.vue
  frontend/src/shared/ui/index.ts
Due: prettier-fix, eslint-fix, typecheck

整理
  frontend/src/entities/auth/model/loginByCredentials.ts
Due: prettier-fix, eslint-fix, typecheck

mainのパディングを変数化
  frontend/src/app/styles/main.css
Due: prettier-fix

main全体が100dvhになるように計算
  frontend/src/shared/layout/authLayout.vue
Due: prettier-fix, eslint-fix, typecheck

型キャストはステータスチェックよりも後に実行
  frontend/src/entities/auth/model/loginByCredentials.ts
Due: prettier-fix, eslint-fix, typecheck

1行にまとめる
  frontend/src/pages/auth/login/LoginView.vue
Due: prettier-fix, eslint-fix, typecheck

1行にまとめるように指示
  frontend/CLAUDE.md
Due: none

nullでリセットするように統一
  frontend/src/pages/auth/login/LoginView.vue
Due: prettier-fix, eslint-fix, typecheck

クラスをつけてロゴの大きさ調整
  frontend/src/shared/layout/authLayout.vue
Due: prettier-fix, eslint-fix, typecheck

.filed系は移動してscopeをつけた。ラベルはスロット化した
  frontend/src/shared/layout/authLayout.vue
Due: prettier-fix, eslint-fix, typecheck

filedはこっちに移動
  frontend/src/pages/auth/login/LoginView.vue
Due: prettier-fix, eslint-fix, typecheck

*2 しないと上だけ差し引くことになる
  frontend/src/shared/layout/authLayout.vue
Due: prettier-fix, eslint-fix, typecheck

削除
  frontend/src/pages/home/ui/HomeView.vue
  frontend/src/shared/ui/HelloWorld.vue
  frontend/src/shared/ui/TheWelcome.vue
  frontend/src/shared/ui/WelcomeItem.vue
  frontend/src/shared/ui/__tests__/HelloWorld.spec.ts
Due: prettier-fix, eslint-fix, typecheck

viewを消したのでここも調節
  frontend/src/app/router/index.ts
Due: prettier-fix, eslint-fix, typecheck

基本的なレイアウトはflexの中央揃えにする
  frontend/src/app/styles/main.css
Due: prettier-fix

基本的なレイアウトをmain.cssのmainに移動したので要らなくなった
  frontend/src/shared/layout/authLayout.vue
Due: prettier-fix, eslint-fix, typecheck

勝手に追加されていたが無害なのでそのまま
  .serena/project.yml
Due: none

tailwindcss追加
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier-fix

tailswindcssを入れないと、"pt-4"みたいなことができない。
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier-fix

tailwindを使えるようにする
  frontend/src/app/main.ts
  frontend/src/app/styles/main.css
  frontend/vite.config.ts
Due: prettier-fix, eslint-fix, typecheck

tailwind適応するとaタグに下線が消えるから自分で定義
  frontend/src/app/styles/main.css
Due: prettier-fix
