Repository s19013/sundlf-replace2: changes, and which lefthook commands are due for each by the changed paths.
All: pint-fix, phpstan, prettier-fix, eslint-fix, typecheck

pint-fix:
  priority: 1
  stage_fixed: true
  run: ./.lefthook/pre-commit/pint-fix.sh {staged_files}

phpstan:
  priority: 2
  run: ./.lefthook/pre-commit/phpstan.sh {staged_files}

prettier-fix:
  priority: 1
  stage_fixed: true
  run: ./.lefthook/pre-commit/prettier.sh {staged_files}

eslint-fix:
  priority: 2
  stage_fixed: true
  run: ./.lefthook/pre-commit/eslint.sh {staged_files}

typecheck:
  priority: 3
  stage_fixed: true
  run: ./.lefthook/pre-commit/typecheck.sh {staged_files}

ここのcheckboxクラスはいらなくなった
  frontend/src/pages/auth/login/LoginView.vue
Due: prettier-fix, eslint-fix, typecheck

input-idを使う
  frontend/src/pages/auth/login/LoginView.vue
  frontend/src/pages/auth/register/RegisterView.vue
Due: prettier-fix, eslint-fix, typecheck

``で囲むのやめた
  CLAUDE.md
Due: none

metaタグの型を移動
  frontend/src/app/router/Guard/AuthUserGuard.ts
  frontend/src/app/router/Guard/GuestUserGuard.ts
  frontend/src/app/router/types.d.ts
Due: prettier-fix, eslint-fix, typecheck

大きさ調節可能 ラベルとチェックボックスを揃える
  frontend/src/shared/ui/CheckBox.vue
Due: prettier-fix, eslint-fix, typecheck

dedoc/scramble をインストール
  backend/composer.json
  backend/composer.lock
Due: prettier-fix

scrambleの下準備
  backend/config/scramble.php
Due: pint-fix, phpstan

使っているライブラリたちを乗せる
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: none

ドキュメント作成
  doc/ziggy.md
Due: none

追記
  doc/ziggy.md
Due: none

mdiについてドキュメント化
  doc/mdi.md
  frontend/CLAUDE.md
Due: none

ドキュメント化
  doc/vue-router.md
Due: none

なんか追記された
  .serena/project.yml
Due: none

dedoc/scramble にレスポンスが正しく表示されないので、Resourceを使って対処
  backend/app/Resources/MinimumUserResource.php
  backend/app/Usecases/Auth/SPA/GetCurrentUserUsecase.php
  backend/app/Usecases/Auth/SPA/LoginUsecase.php
Due: pint-fix, phpstan

もう使わないので消す
  backend/app/Models/User.php
Due: pint-fix, phpstan

openapi-typescript をインストール
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier-fix

openapi-typescript の下準備
  frontend/tsconfig.app.json
Due: prettier-fix

namespaceを修正していなかったのでおかしくなってたので修正
  backend/app/Resources/MinimumUserResource.php
  backend/app/Usecases/Auth/SPA/GetCurrentUserUsecase.php
  backend/app/Usecases/Auth/SPA/LoginUsecase.php
Due: pint-fix, phpstan

openapi-typescript実行コマンド設定
  frontend/package.json
Due: prettier-fix

リクエストレスポンスをtsの型として使えるようにするコマンドを設定
  mise.toml
Due: none

スキーマ生成
  frontend/src/shared/types/schema.d.ts
Due: prettier-fix, eslint-fix, typecheck

schema.d.tsを使うように編集
  frontend/src/entities/auth/types/auth.ts
  frontend/src/shared/types/index.ts
Due: prettier-fix, eslint-fix, typecheck

dedoc/scramble関連を追記
  backend/CLAUDE.md
Due: none

openapi関連をドキュメント化
  doc/openapi.md
Due: none

Resourceはhttpディレクトリに入れるのが慣習らしい
  backend/app/Http/Resources/Resources/MinimumUserResource.php
  backend/app/Usecases/Auth/SPA/GetCurrentUserUsecase.php
  backend/app/Usecases/Auth/SPA/LoginUsecase.php
Due: pint-fix, phpstan

coderabbitに従い微調整
  backend/CLAUDE.md
  doc/mdi.md
  doc/openapi.md
  doc/vue-router.md
  doc/ziggy.md
Due: none

二重になってたので修正
  backend/app/Http/Resources/MinimumUserResource.php
Due: pint-fix, phpstan

remember追加
  backend/app/Http/Requests/Auth/LoginRequest.php
Due: pint-fix, phpstan

再生性
  frontend/src/shared/types/schema.d.ts
Due: prettier-fix, eslint-fix, typecheck

laravel側でも定義したため不必要になった
  frontend/src/entities/auth/types/auth.ts
Due: prettier-fix, eslint-fix, typecheck

php はbookean
  backend/app/Http/Requests/Auth/LoginRequest.php
Due: pint-fix, phpstan

`足りない
  doc/vue-router.md
Due: none

修正
  frontend/CLAUDE.md
Due: none

aiの後遺症修正
  doc/openapi.md
Due: none

laravel-ide-helper インストール
  backend/composer.json
  backend/composer.lock
Due: prettier-fix

laravel-ide-helper 下準備
  backend/config/ide-helper.php
Due: pint-fix, phpstan

コードからの成果物は対象外
  backend/phpstan.neon
Due: none

コードからの成果物は対象外
  backend/.gitignore
Due: none

ide-helperを動かすコマンド設定
  backend/composer.json
  mise.toml
Due: prettier-fix

一番最初に実行するコード定義
  mise.toml
Due: none

Path conditions:
  pint-fix: any of: *.php
  phpstan: any of: *.php
  prettier-fix: any of: *.{ts,tsx,json,css,vue}, but not: .claude/*
  eslint-fix: any of: *.{ts,tsx,vue}
  typecheck: any of: *.{ts,tsx,vue}, but not: .claude/*
