Repository s19013/sundlf-replace2: changes, and which lefthook commands are due for each by the changed paths.
All: pint-fix, phpstan, prettier-fix, eslint-fix, typecheck

pint-fix:
  priority: 1
  stage_fixed: true
  run: ./.lefthook/pre-commit/pint-fix.sh {staged_files}

phpstan:
  priority: 2
  run: ./.lefthook/pre-commit/phpstan.sh {staged_files}

prettier-fix:
  priority: 1
  stage_fixed: true
  run: ./.lefthook/pre-commit/prettier.sh {staged_files}

eslint-fix:
  priority: 2
  stage_fixed: true
  run: ./.lefthook/pre-commit/eslint.sh {staged_files}

typecheck:
  priority: 3
  stage_fixed: true
  run: ./.lefthook/pre-commit/typecheck.sh {staged_files}

ドキュメント作成
  doc/ide-helper.md
Due: none

自動生成されるファイル類は追跡しない
  frontend/.gitignore
Due: none

うまく機能しなかったので近場にgitignoreを定義
  frontend/.gitignore
  frontend/src/shared/api/.gitignore
  frontend/src/shared/types/.gitignore
Due: none

なぜか dedoc/scramble が消えてたので修正
  backend/composer.lock
Due: none

自動生成されるファイル類は追跡しない
  frontend/src/shared/api/ziggy.js
  frontend/src/shared/types/schema.d.ts
  frontend/src/shared/types/ziggy.d.ts
Due: prettier-fix, eslint-fix, typecheck

ide_helperファイルは除外
  lefthook.yml
Due: none

自動生成されるファイル類は除外
  lefthook.yml
Due: none

lefthookの関係で分けたほうが都合が良いため分ける
  backend/composer.json
  mise.toml
Due: prettier-fix

自動生成に関するlefthookを定義
  lefthook.yml
Due: none

説明追加
  frontend/src/shared/api/.gitignore
  frontend/src/shared/types/.gitignore
Due: none

レビュー対象外ファイルを設定
  .coderabbit.yaml
Due: none

/kiro:steering で自動生成された
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: none

基本的な実装順序を指定
  CLAUDE.md
Due: none

cc-sddの生成物
  .kiro/specs/register/design.md
  .kiro/specs/register/requirements.md
  .kiro/specs/register/research.md
  .kiro/specs/register/spec.json
Due: prettier-fix

追加
  .coderabbit.yaml
Due: none

リクエストクラス作成
  backend/app/Http/Requests/Auth/RegisterRequest.php
  backend/tests/Feature/Auth/RegisterRequestValidationTest.php
Due: pint-fix, phpstan

新規登録機能生成
  backend/app/Http/Controllers/Auth/SPAAuthController.php
  backend/app/Usecases/Auth/SPA/RegisterUsecase.php
  backend/routes/api.php
  backend/tests/Feature/Auth/RegisterApiTest.php
Due: pint-fix, phpstan

RegisterCredentials追加
  frontend/src/entities/auth/types/auth.ts
Due: prettier-fix, eslint-fix, typecheck

新規登録情報送信
  frontend/src/entities/auth/api/authApi.ts
Due: prettier-fix, eslint-fix, typecheck

新規登録情報レスポンス編集処理作成
  frontend/src/entities/auth/__tests__/registerByCredentials.test.ts
  frontend/src/entities/auth/model/registerByCredentials.ts
Due: prettier-fix, eslint-fix, typecheck

新規登録情報送信処理を登録
  frontend/src/entities/auth/model/authStore.ts
Due: prettier-fix, eslint-fix, typecheck

画面と登録処理を紐付け
  frontend/src/pages/auth/register/RegisterView.vue
Due: prettier-fix, eslint-fix, typecheck

フロントエンドの変更が早く反映されるように調節
  frontend/vite.config.ts
Due: prettier-fix, eslint-fix, typecheck

cc-sddが自動生成
  .kiro/specs/register/spec.json
  .kiro/specs/register/tasks.md
Due: prettier-fix

リポジトリ内部に設定yamlを作ったので Use Organization Settingsが使えなくなった。仕方ないのでコピペ
  .coderabbit.yaml
Due: none

指定の仕方をまちがえていた
  .coderabbit.yaml
Due: none

こっちのほうが安定しそう
  frontend/vite.config.ts
Due: prettier-fix, eslint-fix, typecheck

修正
  CLAUDE.md
Due: none

とりあえずテンプレート保存
  doc/定義/API/テンプレート.md
  doc/定義/API/テンプレート2.md
  doc/定義/DB/テンプレート.md
  doc/定義/フロント/テンプレート.md
  doc/定義/機能/テンプレート.md
  doc/定義/機能/テンプレート2.md
Due: none

追記
  doc/定義/API/テンプレート2.md
  doc/定義/フロント/テンプレート.md
  doc/定義/機能/テンプレート2.md
Due: none

とりあえず、chatgptのサンプルを貼り付ける
  doc/定義/API/memo/メモ更新.md
  doc/定義/フロント/メモ/更新.md
  doc/定義/機能/メモ/更新.md
Due: none

パスパラメータ
  doc/定義/API/memo/メモ更新.md
Due: none

関連追記
  doc/定義/API/memo/メモ更新.md
Due: none

追記
  doc/定義/機能/テンプレート2.md
Due: none

取得の処理概要追記
  doc/定義/機能/メモ/更新.md
Due: none

処理概要追記
  doc/定義/API/memo/メモ更新.md
Due: none

処理の流れのほうがわかりやすいと思う
  doc/定義/API/memo/メモ更新.md
Due: none

メモ取得apiのドキュメント作成
  doc/定義/API/memo/メモ取得.md
Due: none

処理の流れ修正、更新する項目追加
  doc/定義/API/memo/メモ更新.md
Due: none

処理の流れ修正、エラー追加
  doc/定義/API/memo/メモ取得.md
Due: none

Path conditions:
  pint-fix: any of: *.php
  phpstan: any of: *.php
  prettier-fix: any of: *.{ts,tsx,json,css,vue}, but not: .claude/*
  eslint-fix: any of: *.{ts,tsx,vue}
  typecheck: any of: *.{ts,tsx,vue}, but not: .claude/*
