Repository s19013/sundlf-replace2: changes, and which lefthook commands are due for each by the changed paths.
All: pint-fix, phpstan, prettier-fix, eslint-fix, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # pint -> phpstan の順で動かす
    pint-fix:
      priority: 1
      stage_fixed: true
      glob: "*.php"
      run: ./.lefthook/pre-commit/pint-fix.sh {staged_files}

    phpstan:
      priority: 2
      glob: "*.php"
      run: ./.lefthook/pre-commit/phpstan.sh {staged_files}

    #  prettier -> eslint -> typecheckの順で動かす
    prettier-fix:
      priority: 1
      stage_fixed: true
      glob: "*.{ts,tsx,json,css,vue}"
      exclude: ".claude/*"
      run: ./.lefthook/pre-commit/prettier.sh {staged_files}

    eslint-fix:
      priority: 2
      stage_fixed: true
      glob: "*.{ts,tsx,vue}"
      run: ./.lefthook/pre-commit/eslint.sh {staged_files}

    typecheck:
      priority: 3
      stage_fixed: true
      glob: "*.{ts,tsx,vue}"
      exclude: ".claude/*"
      run: ./.lefthook/pre-commit/typecheck.sh {staged_files}

# pre-push:
# テスト系を実行

実行許可を付与
  .lefthook/pre-commit/typecheck.sh
Due: none

型がため手動で定義
  frontend/env.d.ts
Due: prettier-fix, eslint-fix, typecheck

--buildを使うとファイルを指定して実行できないため --noEmitを付与
  frontend/package.json
Due: prettier-fix

メモ追記
  doc/lefthook.md
Due: none

oxlintを実行
  .lefthook/pre-commit/oxlint.sh
  lefthook.yml
Due: none

-noEmitを使うといろいろと都合が悪いのでpre-pushで全部まとめて確認するように修正
  .lefthook/pre-commit/typecheck.sh
  frontend/package.json
  lefthook.yml
Due: prettier-fix

ziggyを使えるように設定
  frontend/src/app/main.ts
Due: prettier-fix, eslint-fix, typecheck

ziggyファイルを生成して移動するmiseスクリプトを設定
  mise.toml
Due: none

ziggyファイル生成
  frontend/src/app/types/ziggy.d.ts
  frontend/src/app/ziggy.js
Due: prettier-fix, eslint-fix, typecheck

ziggyを使うため、/apiがついた状態でファイルに出力されるようになった。 そのためbaseurlには/apiをつける必要がなくなった。 それに伴いwebClientもいらなくなった。
  frontend/.env.example
  frontend/src/shared/api/apiClient.ts
  frontend/src/shared/api/index.ts
  frontend/src/shared/api/webClient.ts
Due: prettier-fix, eslint-fix, typecheck

ziggyを使ってapiのurlを呼び出すように変更
  frontend/src/entities/auth/api/authApi.ts
Due: prettier-fix, eslint-fix, typecheck

appディレクトリより,sharedのほうが適切
  frontend/env.d.ts
  frontend/src/app/main.ts
  frontend/src/entities/auth/api/authApi.ts
  frontend/src/shared/api/ziggy.js
  frontend/src/shared/types/ziggy.d.ts
  mise.toml
Due: prettier-fix, eslint-fix, typecheck

追記
  frontend/env.d.ts
Due: prettier-fix, eslint-fix, typecheck

ziggyのrouteのラッパークラスを作成
  frontend/src/shared/api/index.ts
  frontend/src/shared/api/ziggyRoute.ts
Due: prettier-fix, eslint-fix, typecheck

ラッパークラスを使うように変更
  frontend/src/entities/auth/api/authApi.ts
Due: prettier-fix, eslint-fix, typecheck

claudeに追記
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: none

パスワード指定
  backend/database/seeders/DatabaseSeeder.php
Due: pint-fix, phpstan

migrationのリセット、seeder実行をまとめたmiseスクリプトを設定
  mise.toml
Due: none

ファイル名にスペースが含まれる場合に備える
  .lefthook/pre-commit/eslint.sh
  .lefthook/pre-commit/oxlint.sh
  .lefthook/pre-commit/phpstan.sh
  .lefthook/pre-commit/pint-fix.sh
  .lefthook/pre-commit/prettier.sh
Due: none

デバックようにゆるくしてたのを戻す
  backend/routes/api.php
Due: pint-fix, phpstan

やっぱりいらないと判断
  frontend/env.d.ts
Due: prettier-fix, eslint-fix, typecheck

chechkAuthに失敗した時のハンドリング
  frontend/src/app/router/index.ts
Due: prettier-fix, eslint-fix, typecheck

修正
  backend/CLAUDE.md
Due: none

テンプレートから説明コメントへ
  backend/lang/jp/validation.php
Due: pint-fix, phpstan

jpではなくjaが正しい
  backend/lang/ja/attributes.php
  backend/lang/ja/auth.php
  backend/lang/ja/passwords.php
  backend/lang/ja/validation.php
Due: pint-fix, phpstan

帰り型指定
  frontend/src/entities/auth/api/authApi.ts
Due: prettier-fix, eslint-fix, typecheck

可視性修飾子追加
  backend/app/Models/User.php
Due: pint-fix, phpstan

ワイルドカードにしてまとめる
  doc/lefthook.md
Due: none

onlyのほうが短くなる
  backend/app/Usecases/Auth/SPA/GetCurrentUserUsecase.php
  backend/app/Usecases/Auth/SPA/LoginUsecase.php
Due: pint-fix, phpstan

説明コメントを詳しく
  frontend/src/shared/api/apiClient.ts
Due: prettier-fix, eslint-fix, typecheck

emailは返さない
  frontend/src/entities/auth/types/auth.ts
Due: prettier-fix, eslint-fix, typecheck

user情報取得のレスポンスをspaグループの中に入れる nameを修正
  backend/routes/api.php
  frontend/src/entities/auth/api/authApi.ts
  frontend/src/shared/api/ziggy.js
  frontend/src/shared/types/ziggy.d.ts
Due: pint-fix, phpstan, prettier-fix, eslint-fix, typecheck

フォーマットされたファイルたちがステージされなかったようなので手動で
  .lefthook/pre-commit/prettier.sh
Due: none

フォーマッタが勝手にエスケープするからしないようにする
  doc/lefthook.md
Due: none

iso形式だと明記
  frontend/CLAUDE.md
Due: none

一応claude_codeには@付きが良いとは言われているけど、なんとなくやめとく
  frontend/CLAUDE.md
Due: none

説明コメント追記
  frontend/src/entities/auth/api/authApi.ts
Due: prettier-fix, eslint-fix, typecheck

帰り型指定
  frontend/src/shared/api/ziggyRoute.ts
Due: prettier-fix, eslint-fix, typecheck

ziggyにより"バックのurl/api/~"の状態で出力されるのでbaseurl自体がいらなくなった。
  frontend/src/shared/api/apiClient.ts
Due: prettier-fix, eslint-fix, typecheck

不必要なデフォルトのスタイルを消した
  frontend/src/app/styles/main.css
Due: prettier-fix
