Repository s19013/sundlf-replace2: changes, and which lefthook commands are due for each by the changed paths.
All: pint-fix, phpstan, prettier-fix, eslint-fix, oxlint-fix

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # laravel
    # pint -> phpstan の順で動かす
    pint-fix:
      priority: 1
      stage_fixed: true
      glob: "*.php"
      exclude: "^_ide_helper.*"
      run: ./.lefthook/pre-commit/pint-fix.sh {staged_files}

    phpstan:
      priority: 2
      glob: "*.php"
      exclude: "^_ide_helper.*"
      run: ./.lefthook/pre-commit/phpstan.sh {staged_files}

    # vue
    #  prettier -> eslint -> typecheckの順で動かす
    prettier-fix:
      priority: 1
      stage_fixed: true
      glob: "*.{ts,tsx,json,css,vue}"
      exclude: ".claude/*"
      run: ./.lefthook/pre-commit/prettier.sh {staged_files}

    eslint-fix:
      priority: 2
      stage_fixed: true
      glob: "*.{ts,tsx,vue}"
      run: ./.lefthook/pre-commit/eslint.sh {staged_files}

    oxlint-fix:
      priority: 3
      stage_fixed: true
      glob: "*.{ts,tsx,vue}"
      run: ./.lefthook/pre-commit/oxlint.sh {staged_files}

pre-push:
  parallel: true
  commands:
    typecheck:
      priority: 1
      stage_fixed: true
      glob: "*.{ts,tsx,vue}"
      exclude: ".claude/*"
      run: "mise exec:vue 'pnpm run type-check-lefthook > typecheck-error.log'"
# テスト系を実行

見出しレベルを上げた
  doc/定義/機能/メモ/更新.md
Due: none

対応済み
  doc/レビュー結果/機能.md
Due: none

url類を追記
  doc/定義/機能/その他.md
Due: none

結果コミット
  doc/レビュー結果/README.md
Due: none

対応済み、コメント追記
  doc/レビュー結果/README.md
Due: none

結果コミット
  doc/レビュー結果/model.md
Due: none

対応済み
  doc/レビュー結果/model.md
Due: none

すべてに取得作業と持ち主確認作業を追加
  doc/定義/api/メモ/メモ削除api.md
  doc/定義/api/メモ/メモ取得api.md
  doc/定義/api/メモ/メモ完全削除api.md
  doc/定義/api/メモ/メモ復元api.md
  doc/定義/api/メモ/メモ更新api.md
  doc/定義/api/メモ/メモ閲覧数増加api.md
Due: none

持ち主検証追加
  doc/定義/api/タグ/タグ削除api.md
  doc/定義/api/タグ/タグ更新api.md
Due: none

より適切な言葉へと変更
  doc/定義/api/タグ/タグ削除api.md
  doc/定義/api/タグ/タグ更新api.md
  doc/定義/api/メモ/メモ削除api.md
  doc/定義/api/メモ/メモ取得api.md
  doc/定義/api/メモ/メモ完全削除api.md
  doc/定義/api/メモ/メモ復元api.md
  doc/定義/api/メモ/メモ更新api.md
  doc/定義/api/メモ/メモ閲覧数増加api.md
Due: none

物理削除明記
  doc/定義/api/タグ/タグ削除api.md
Due: none

タグのカウントに対しての追記
  doc/定義/api/メモ/メモ新規作成api.md
  doc/定義/api/メモ/メモ更新api.md
Due: none

追記
  doc/定義/db/tags.md
Due: none

モデル定義
  doc/定義/model/BookMark.md
  doc/定義/model/BookMarkTag.md
  doc/定義/model/Memo.md
  doc/定義/model/MemoTag.md
  doc/定義/model/Tag.md
  doc/定義/model/User.md
  doc/定義/model/テンプレート.md
Due: none

対応ずみ
  doc/レビュー結果/README.md
Due: none

追記
  CLAUDE.md
Due: none

テンプレートとそれに対する説明
  github/pr_read_me.md
  github/pull_request_template.md
Due: none

コードラビットの指摘に対応
  doc/定義/api/タグ/タグ削除api.md
  doc/定義/api/タグ/タグ新規作成api.md
  doc/定義/api/タグ/タグ更新api.md
  doc/定義/api/タグ/タグ検索api.md
  doc/定義/api/タグ/全タグ取得api.md
  doc/定義/api/メモ/メモ削除api.md
  doc/定義/api/メモ/メモ取得api.md
  doc/定義/api/メモ/メモ完全削除api.md
  doc/定義/api/メモ/メモ検索api.md
  doc/定義/db/article_tags.md
  doc/定義/model/BookMark.md
  doc/定義/model/Memo.md
  doc/定義/フロント/コンポーネント/タグモーダル.md
  doc/定義/フロント/画面/タグ/検索.md
  doc/定義/フロント/画面/メモ/ゴミ箱.md
  doc/定義/フロント/画面/メモ/検索.md
  doc/定義/フロント/画面/メモ/編集.md
  doc/定義/フロント/画面/メモ/詳細検索.md
  doc/定義/フロント/画面/メモ/閲覧.md
Due: none

修正
  README.md
Due: none

stars追記
  doc/定義/api/メモ/メモ新規作成api.md
  doc/定義/api/メモ/メモ更新api.md
Due: none

マイグレーション作成
  backend/database/migrations/2026_08_02_090000_add_logined_at_to_users_table.php
  backend/database/migrations/2026_08_02_090001_create_articles_table.php
  backend/database/migrations/2026_08_02_090002_create_tags_table.php
  backend/database/migrations/2026_08_02_090003_create_book_marks_table.php
  backend/database/migrations/2026_08_02_090004_create_article_tags_table.php
  backend/database/migrations/2026_08_02_090005_create_book_mark_tags_table.php
Due: pint-fix, phpstan

古いデータ移植の際に一度古いデータベースを作成する必要がある
  backend/.env.example
  backend/.gitignore
  backend/config/database.php
Due: pint-fix, phpstan

高すぎると面倒なため下げる
  backend/phpstan.neon
Due: none

移植用コマンド
  backend/app/Console/Commands/ImportLegacyDataCommand.php
  backend/docs/legacy-import.md
Due: pint-fix, phpstan

論理削除されているデータは移植しない
  backend/app/Console/Commands/ImportLegacyDataCommand.php
  backend/docs/legacy-import.md
Due: pint-fix, phpstan

タグがついているかどうかをarticle,bookmerkテーブルに持たせる
  backend/database/migrations/2026_08_02_090001_create_articles_table.php
  backend/database/migrations/2026_08_02_090003_create_book_marks_table.php
  backend/database/migrations/2026_08_02_090004_create_article_tags_table.php
  backend/database/migrations/2026_08_02_090005_create_book_mark_tags_table.php
  doc/定義/db/article_tags.md
  doc/定義/db/articles.md
  doc/定義/db/book_mark_tags.md
  doc/定義/db/book_marks.md
Due: pint-fix, phpstan

移植コマンドをテーブル変更に対応
  backend/app/Console/Commands/ImportLegacyDataCommand.php
  backend/docs/legacy-import.md
Due: pint-fix, phpstan

pr下書き作成作業をskillとして登録
  .claude/skills/PrePR/SKILL.md
Due: none

細かすぎて読むのがしんどいため、粒度を大きくした
  .claude/skills/PrePR/SKILL.md
Due: none

skillに書いたため不要
  github/pr_read_me.md
Due: none

laravel boost をインストール
  backend/.claude/skills/infer-conventions/SKILL.md
  backend/.claude/skills/infer-conventions/references/checklist.md
  backend/.claude/skills/laravel-best-practices/SKILL.md
  backend/.claude/skills/laravel-best-practices/rules/advanced-queries.md
  backend/.claude/skills/laravel-best-practices/rules/architecture.md
  backend/.claude/skills/laravel-best-practices/rules/blade-views.md
  backend/.claude/skills/laravel-best-practices/rules/caching.md
  backend/.claude/skills/laravel-best-practices/rules/collections.md
  backend/.claude/skills/laravel-best-practices/rules/config.md
  backend/.claude/skills/laravel-best-practices/rules/db-performance.md
  backend/.claude/skills/laravel-best-practices/rules/eloquent.md
  backend/.claude/skills/laravel-best-practices/rules/error-handling.md
  backend/.claude/skills/laravel-best-practices/rules/events-notifications.md
  backend/.claude/skills/laravel-best-practices/rules/http-client.md
  backend/.claude/skills/laravel-best-practices/rules/mail.md
  backend/.claude/skills/laravel-best-practices/rules/migrations.md
  backend/.claude/skills/laravel-best-practices/rules/queue-jobs.md
  backend/.claude/skills/laravel-best-practices/rules/routing.md
  backend/.claude/skills/laravel-best-practices/rules/scheduling.md
  backend/.claude/skills/laravel-best-practices/rules/security.md
  backend/.claude/skills/laravel-best-practices/rules/style.md
  backend/.claude/skills/laravel-best-practices/rules/testing.md
  backend/.claude/skills/laravel-best-practices/rules/validation.md
  backend/.claude/skills/tailwindcss-development/SKILL.md
  backend/.mcp.json
  backend/CLAUDE.md
  backend/boost.json
  backend/composer.json
  backend/composer.lock
Due: prettier-fix

、backend/.mcp.jsonのlaravel-boost MCPサーバー(php artisan boost:mcp)は、ルートディレクトリで起動している現セッションには自動読み込みされないため、コンテナ内実行するようにした
  .mcp.json
Due: prettier-fix

モデル作成
  backend/app/Models/BookMark.php
  backend/app/Models/BookMarkTag.php
  backend/app/Models/Memo.php
  backend/app/Models/MemoTag.php
  backend/app/Models/Tag.php
  backend/app/Models/User.php
Due: pint-fix, phpstan

ファクトリー作成
  backend/database/factories/BookMarkFactory.php
  backend/database/factories/MemoFactory.php
  backend/database/factories/TagFactory.php
Due: pint-fix, phpstan

誤記修正
  doc/定義/model/BookMark.md
  doc/定義/model/Memo.md
Due: none

@property 自動生成
  backend/app/Models/BookMark.php
  backend/app/Models/BookMarkTag.php
  backend/app/Models/Memo.php
  backend/app/Models/MemoTag.php
  backend/app/Models/Tag.php
  backend/app/Models/User.php
Due: pint-fix, phpstan

@propertyを自動生成skillを設定
  .claude/skills/GenerateProperty/SKILL.md
Due: none

parseが失敗したときに対応
  backend/app/Models/Memo.php
Due: pint-fix, phpstan

カラム名だけで十分
  doc/定義/model/BookMark.md
  doc/定義/model/Memo.md
Due: none

coderabbitがこっちが良いって
  .claude/skills/GenerateProperty/SKILL.md
Due: none
